

@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  background-color: #282c34;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #d6d6d6 solid 0.1rem;

}
.logo-slogan{
  font-family: "Lobster", cursive;
  margin: 1rem 0 4rem 0;
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #36d599;  /* Verde più brillante */
  margin-top: -20px;
}

h1 {
  font-size: 7rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #36d599; /* Verde brillante */
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin: 2rem 0;
}

.search-form {
  width: 100%;

  max-width: 40rem;
margin-left: -2rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 2px solid #36d599;
}

.search-form input {
  font-size: 1.6rem;
  border: none;

  background-color: #181818;
  color: #fff;
  border-radius: 25px;
  padding: .5rem;
  transition: all 0.3s ease;
}

.search-form input[type="text"]:focus {
  outline: none;
  border-color: #36d599;
}

.search-form input[type="submit"] {
  font-size: 1.6rem;
  background-color: #36d599;
  color: #fff;
  border-radius: 50px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-form input[type="submit"]:hover {
  background-color: #fff;
  color: #36d599;
  border: 2px solid #36d599;
}


.alert {
  position: absolute;
  top: 12rem;
  left: 0;
  background-color: #f25234;
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: solid 0.1rem #eb2806;
}

.alert h3 {
  font-size: 1.8rem;
  border: solid 0.1rem #f25234;
  border-radius: 25%;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
}
.recipes{
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;

padding-bottom: 5rem;

}




.recipe-table {

  width: 65rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-table th {
  background-color: #f8f8f8;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
}

.recipe-table td {
  padding: 1rem;
  vertical-align: top;
}

.recipe-image {
width: 30rem;
  border-radius: 8px;
}

.recipe-link {
  display: inline-block;
  margin: 0.5rem 0;
  color: #007bff;
  text-decoration: none;
}

.recipe-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-button:hover {
  background-color: #0056b3;
}

.ingredient-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.ingredient-container.show {
  max-height: 800px;
 
}




.ingredient-list {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #222;
}

.ingredient-list li {
  margin: 0.8rem 0;
  font-size: 1.6rem;
  color: #b0b0b0;
}

.ingredient-text {
  color: #f0f0f0;
}

.ingredient-weight {
  color: #36d599;
  font-size: 1.4rem;
}

.landingImage {
  background-image: url("Food-Ingredients.jpg");
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0 0 3rem 3rem;
  margin-top: -3rem;
}

.copyright {
  color: #f7efe3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  height: 5rem;
}
